<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Flask website 1.1</title>
    </head>
    <body>
        <div class="container">
            <div class="content">
                <h1>Welcome to my website</h1>
                <p>This was made using flask and python</p>
                <p>The goal of this website is for it to be dockerized, so for now ther aint much content here</p>
            </div>    
        </div>
        <div class="footer">
            <p>Made by Zotti39</p>
        </div>
    </body>
</html>